body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .biography {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: rgb(102, 163, 233);
    margin-bottom: 10px;
  }
  
  h2 {
    color: rgb(181, 222, 250);
    margin-bottom: 20px;
  }
  
  .description {
    line-height: 1.6;
  }
  
  .highlighted-text {
    font-size: 18px;
    font-weight: bold;
    color: #f1aaf1;
  }
  